.search-partners {
  text-align: center;
  margin-top: 5.3%;
  padding-bottom: 6.9%;
  p {
    margin-top: 3.8%;
    margin-left: -3px;
  }
  form {
    margin-top: 4.1%;
    input {
      width: 236px;
      margin-left: -0.4%;
    }
    .search-partners_button {
      padding-left: 22px;
      padding-right: 23px;
      margin-left: 0.7%;
    }
  }
}
