.search-partners {
  text-align: center;
  margin-top: 5.3%;
  margin-left: -2px;
  padding-bottom: 6.9%;
  p {
    margin-top: 3.8%;
    margin-left: -1px;
  }
  form {
    margin-top: 4.1%;
    input {
      width: 223px;
    }
    .search-partners_button {
      padding-left: 22px;
      padding-right: 23px;
      margin-left: 0.7%;
      transform: translateX(-1px);
    }
  }
}
