.search-partners {
  margin-top: 10.2%;
  text-align: center;
  padding-bottom: 12.9%;
  h2 {
    font-size: 22px;
    margin-left: -0.5%;
  }
  p {
    font-size: 18px;
    margin-top: 4.5%;
    letter-spacing: 0.005em;
    margin-left: -3px;

  }
  form {
    margin-top: 5.1%;
    max-width: 420px;
    margin-left: 22.5%;
    input {
      min-width: 236px;
    }
    .search-partners_button {
      padding-left: 24px;
      padding-right: 22px;
      margin-left: 1.5%;

    }
  }
}
