@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import 'sprites.scss';
@import "reset.scss";
@import "variables.scss";

.content {
  width: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: $color-white;
}

.button {
  position: relative;
  z-index: 0;
  font-size: 14px;
  height: 40px;
  background-color: #ff4e50;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: none;
  @include border-radius(20px);
  color: $color-white;
  outline: none;
  cursor: pointer;
}

h2 {
  color: #333;
  font-weight: 600;
}

.header {
  background-image: url('../img/header-bg.jpg');
  @include background-size(cover);
  background-position: center;
  .header_login {
    a {
      color: $color-white;
      font-size: 14px;
      text-decoration: none;
      border: 2px solid transparent;
      padding: 7px 17px;
      letter-spacing: -0.01em;
      font-weight: 500;
      &:first-child {
        margin-right: -0.5%;
      }
      &:hover {
        border: 2px solid $color-white;
        @include border-radius(22px);
      }
    }
  }
  .header_logo {
    .logo {
      color: $color-white;
      font-size: 20px;
      text-decoration: none;
      letter-spacing: 0.05em;
      font-weight: 500;
    }
  }
  .header_banner {
    h1 {
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
    }
    .banner_description {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: center;
      line-height: 20px;
      display: block;
      margin-left: 0;
      letter-spacing: 0.003em;
    }
    .header_button {
      color: $color-white;
      letter-spacing: -0.01em;
    }
  }
}

.work-principles {
  //SLIDER
  .slider-container {
    vertical-align: top;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .next {
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
  }
  @keyframes fade {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  .principle {
    @include border-radius(4px);
    position: relative;

    .principle__content {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .shadow {
      position: absolute;
      top: 0;
      left: -1px;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      @include border-radius(4px);
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99000000', GradientType=0); /* IE6-9 */
    }
    .principle_step {
      z-index: 1;
      font-weight: 400;
      line-height: 20px;
      display: inline-block;
      text-align: center;
      padding-left: 15px;
      padding-right: 11px;
      @include border-radius(20px);
      background-color: $bgc-step;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 0.21em;
    }
    h3 {
      z-index: 1;
      font-size: 24px;
      line-height: 29px;
      font-weight: 500;
    }
    .principle_description {
      z-index: 1;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #ccc;
      font-size: 14px;
      letter-spacing: 0.004em;
    }
  }
  .principle__one {
    background: url('../img/principle-first.jpg') no-repeat;
  }
  .principle__two {
    background: url('../img/principle-two.jpg') no-repeat;
  }
  .principle__three {
    background: url('../img/principle-three.jpg') no-repeat;
  }
  .principle .step__two {
    padding-left: 13px;
    padding-right: 11px;
  }
  .principle .step__three {
    padding-left: 13px;
  }
  .title_two {
    letter-spacing: 0.01em;
    margin-left: 6.6%;
    margin-top: 5%;
  }
}

.partners {

  .partner {
    .figure {
      .partner_photo {
        position: relative;
        display: inline-block;

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
          background-image: url(src/img/spritesheet-2x.png);
        }

        background-repeat: no-repeat;
        background-size: 164*($size);

        &::after {
          position: absolute;
          content: '';
          width: 41px;
          height: 41px;
          bottom: -3px;
          right: -4px;
        }
      }
      .figcaption {
        color: #333;
        font-size: 14px;
        letter-spacing: -0.2px;
        word-spacing: 1px;
        font-weight: 600;
      }
      .partner_description {
        font-family: Roboto, sans-serif;
        font-weight: 300;
        color: #666;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.15px;
      }
    }
  }
  .partner__tv {
    .partner_photo {
      &::after {
        background: url('../img/spritesheet.png') -41*($size) -41*($size) no-repeat;
      }
    }
  }
  .partner__flask {
    .partner_photo {
      &::after {
        background: url('../img/spritesheet.png') -41*($size) 0 no-repeat;
      }
    }
  }
  .partner__coffe {
    .partner_photo {
      &::after {
        background: url('../img/spritesheet.png') 0 0 no-repeat;
      }
    }
  }
  .partner__telegram {
    .partner_photo {
      &::after {
        background: url('../img/spritesheet.png') 0 -41*($size) no-repeat;
      }
    }
  }
  .partners_button {
    line-height: 33px;
    background-color: #fff;
    //display: block;
    text-align: center;
    font-size: 14px;
    color: #ff4e50;
    border: 2px solid #ff4e50;
  }
}

.activity-ideas {
  .grid {
    .grid-item {
      @include border-radius(5px);
      .item__text {
        font-size: 22px;
        text-transform: capitalize;
        font-weight: 500;
      }
    }
  }
}

.search-partners {
  border-bottom: 4px solid #ff4e50;
  p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #333;
    letter-spacing: 0.004em;
  }
  form {
    input {
      font-family: Roboto, sans-serif;
      font-size: 14px;
      border: 1px solid #ccc;
      height: 36px;
      box-shadow: 0 0 1px #eee;
      @include border-radius(5px);
      padding-left: 14px;
    }
  }
}

.footer {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  padding-bottom: 38px;
  overflow: auto;

  .footer_logo {

    .logo {
      color: #ff4e50;
      text-decoration: none;
      letter-spacing: 0.73px;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .footer_menu {
    h4 {
      color: #333;
      font-size: 14px;
      font-weight: 500;
    }
    ul {
      li {
        a {
          text-decoration: none;
          color: #666;
          font-family: Roboto, sans-serif;
          font-size: 14px;
        }
      }
    }
  }
  .desined-by {
    p {
      font-size: 10px;
      color: #ccc;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
    }
  }
}
