@media screen and (min-width: 940px) and (max-width: 1440px) {
  .content {
    background-color: palevioletred;
  }
  .wrapper {
    width: 940px;
    margin: 0 auto;
  }
  h2 {
    font-size: 22px;
  }
  header {
    padding-top: 3.3%;
    text-align: center;
    padding-bottom: 16.2%;
    .header_login {
      float: right;
      margin-right: 1px;
    }
    .header_logo {
      float: left;
    }
    .header_banner {
      clear: both;
      h1 {
        font-size: 52px;
        padding-top: 15.5%;
        padding-left: 18%;
        width: 64%;
        line-height: 63px;
      }
      .banner_description {
        font-size: 24px;
        padding-top: 3%;
        margin-left: -3px;
      }
      .header_button {
        padding-left: 22px;
        padding-right: 25px;
        margin-left: 3px;
        padding-top: 3px;
        margin-top: 4.1%;
        letter-spacing: -0.01em;
      }
    }
  }
  .work-principles {
    position: relative;
    h2 {
      text-align: center;
      font-size: 22px;
      margin-top: 10.35%;
      letter-spacing: -0.01em;
      margin-left: -4px;
    }
    .slider-container {
      position: relative;
      width: 32%;
      display: inline-block;
      margin-top: 2.6%;
      margin-right: 1.7%;

      &:last-child {
        margin-right: 0;
      }
    }
    .slider-container__two {
      margin-right: 1.5%;
    }

    .prev, .next {
      top: 36.2%;
      left: 5px;
    }

    .next {
      left: 77.4%;
    }
    .principle {
      position: relative;
      display: inline-block;
      width: 100%;
      vertical-align: top;
      margin-top: 3.8%;
      height: 400px;
      &:last-child {
        margin-right: 0;
      }
    }
    .principle_step {
      margin-top: 76.3%;
      margin-left: 7%;
    }

    h3 {
      margin-top: 5.1%;
      margin-left: 6.3%;
    }
    .principle_description {
      margin-left: 6.9%;
      margin-top: 3.9%;
      line-height: 16px;
      width: 90%;
    }
    .description__two {
      margin-top: 3.6%;
      letter-spacing: 0.14px;
      margin-left: 19px;
    }
  }
  .content .work-principles .principle .step__two {
    margin-top: 86.3%;
    padding-right: 10px;
    padding-left: 14px;
    margin-left: 20px;
  }

  .partners {
    margin-top: 6.9%;
    text-align: center;

    .partner {
      display: inline-block;
      max-width: 220px;
      vertical-align: top;
      margin-right: 1.7%;
      margin-top: 3.6%;
      height: 234px;
      overflow: hidden;

      .partner_photo {
        position: relative;
        &::after {
          bottom: -3px;
          right: 45px;
        }
      }
      figcaption {
        margin-top: 7.5%;
      }
      .partner_description {
        margin-top: 7%;
      }
    }
    .partner__telegram {
      margin-right: 0;
    }
    .partners_button {
      margin: 4% auto;
      padding-right: 28px;
      padding-left: 28px;
    }
  }

  .activity-ideas {
    text-align: center;
    margin-top: 6.9%;
    height: 1050px;

    .grid {
      margin-top: 3.8%;
    }
    //MANSORY

    .grid-sizer,
    .grid-item {
      width: 31.9%;
    }
    .gutter-sizer {
      width: 20px;
    }

    .grid-item {
      -webkit-background-size: cover;
      background-size: cover;
      height: 310px;
      float: left;
      margin-bottom: 20px;
      .item__text {
        margin-top: 48%;
      }
    }
    .grid-item--width2 {
      width: 66.1%;
      height: 310px;
      .item__text {
        margin-top: 23%;
      }
    }
  }

  .search-partners {
    text-align: center;
    margin-top: 5.3%;
    padding-bottom: 6.9%;
    p {
      margin-top: 3.8%;
      margin-left: -3px;
    }
    form {
      margin-top: 4.1%;
      input {
        width: 236px;
      }
      .search-partners_button {
        padding-left: 22px;
        padding-right: 23px;
        margin-left: 0.8%;
      }
    }
  }

  footer {
    margin-top: 2.6%;
    .footer_logo {
      float: left;
      margin-right: 0.4%;
    }
    .footer_menu {
      float: left;
      margin-left: 9.9%;
      h4 {
        padding-bottom: 17%;
      }
      ul {
        a {
          line-height: 24px;
        }
      }
    }
    .desined-by {
      float: right;
      p {
        margin-right: -32px;
        margin-top: 1px;
      }
      img {
        margin-top: 8px;
      }
    }
  }

}



