@import "basic.scss";
@import "header.scss";
@import "work-principles.scss";
@import "partners.scss";
@import "activity_ideas.scss";
@import "search-partners.scss";
@import "footer.scss";

@media screen and (min-width: 940px) and (max-width: 1440px) {
  .wrapper {
    width: 940px;
    margin: 0 auto;
  }
  h2 {
    font-size: 22px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .button {
    padding-left: 50px;
    padding-right: 50px;
  }
  h2 {
    font-size: 22px;
    color: #333;
  }
}




