@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.content {
  width: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #fff; }

.button {
  position: relative;
  z-index: 0;
  font-size: 14px;
  height: 40px;
  background-color: #ff4e50;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  outline: none;
  cursor: pointer; }

h2 {
  color: #333;
  font-weight: 600; }

.header {
  background-image: url("../img/header-bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center; }
  .header .header_login a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 7px 17px;
    letter-spacing: -0.01em;
    font-weight: 500; }
    .header .header_login a:first-child {
      margin-right: -0.5%; }
    .header .header_login a:hover {
      border: 2px solid #fff;
      -webkit-border-radius: 22px;
      -moz-border-radius: 22px;
      -ms-border-radius: 22px;
      border-radius: 22px; }
  .header .header_logo .logo {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-weight: 500; }
  .header .header_banner h1 {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase; }
  .header .header_banner .banner_description {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: 20px;
    display: block;
    margin-left: 0;
    letter-spacing: 0.003em; }
  .header .header_banner .header_button {
    color: #fff;
    letter-spacing: -0.01em; }

.work-principles .slider-container {
  vertical-align: top; }
.work-principles .prev, .work-principles .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }
.work-principles .next {
  border-radius: 3px 0 0 3px; }
.work-principles .prev:hover, .work-principles .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }
.work-principles .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s; }
@keyframes fade {
  0% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }
.work-principles .principle {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  position: relative; }
  .work-principles .principle .principle__content {
    position: absolute;
    bottom: 0;
    left: 0; }
  .work-principles .principle .shadow {
    position: absolute;
    top: 0;
    left: -1px;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99000000', GradientType=0);
    /* IE6-9 */ }
  .work-principles .principle .principle_step {
    z-index: 1;
    font-weight: 400;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    padding-left: 15px;
    padding-right: 11px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background-color: #ff4e50;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.21em; }
  .work-principles .principle h3 {
    z-index: 1;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500; }
  .work-principles .principle .principle_description {
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ccc;
    font-size: 14px;
    letter-spacing: 0.004em; }
.work-principles .principle__one {
  background: url("../img/principle-first.jpg") no-repeat; }
.work-principles .principle__two {
  background: url("../img/principle-two.jpg") no-repeat; }
.work-principles .principle__three {
  background: url("../img/principle-three.jpg") no-repeat; }
.work-principles .principle .step__two {
  padding-left: 13px;
  padding-right: 11px; }
.work-principles .principle .step__three {
  padding-left: 13px; }
.work-principles .title_two {
  letter-spacing: 0.01em;
  margin-left: 6.6%;
  margin-top: 5%; }

.partners .partner .figure .partner_photo {
  position: relative;
  display: inline-block; }
  .partners .partner .figure .partner_photo::after {
    position: absolute;
    content: '';
    width: 41px;
    height: 41px;
    bottom: -3px;
    right: -4px; }
.partners .partner .figure .figcaption {
  color: #333;
  font-size: 14px;
  letter-spacing: -0.2px;
  word-spacing: 1px;
  font-weight: 600; }
.partners .partner .figure .partner_description {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #666;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15px; }
.partners .partner__tv .partner_photo::after {
  background: url("../img/spritesheet.png") 0 -41px no-repeat; }
.partners .partner__flask .partner_photo::after {
  background: url("../img/spritesheet.png") -41px -41px no-repeat; }
.partners .partner__coffe .partner_photo::after {
  background: url("../img/spritesheet.png") 0 0 no-repeat; }
.partners .partner__telegram .partner_photo::after {
  background: url("../img/spritesheet.png") -41px 0 no-repeat; }
.partners .partners_button {
  line-height: 33px;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
  color: #ff4e50;
  border: 2px solid #ff4e50; }

.activity-ideas .grid .grid-item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .activity-ideas .grid .grid-item .item__text {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 500; }

.search-partners {
  border-bottom: 4px solid #ff4e50; }
  .search-partners p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #333;
    letter-spacing: 0.004em; }
  .search-partners form input {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    height: 36px;
    box-shadow: 0 0 1px #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding-left: 14px; }

.footer {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  padding-bottom: 38px;
  overflow: auto; }
  .footer .footer_logo .logo {
    color: #ff4e50;
    text-decoration: none;
    letter-spacing: 0.73px;
    font-size: 16px;
    font-weight: 500; }
  .footer .footer_menu h4 {
    color: #333;
    font-size: 14px;
    font-weight: 500; }
  .footer .footer_menu ul li a {
    text-decoration: none;
    color: #666;
    font-family: Roboto, sans-serif;
    font-size: 14px; }
  .footer .desined-by p {
    font-size: 10px;
    color: #ccc;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px; }

.header {
  padding-top: 3.3%;
  text-align: center;
  padding-bottom: 16.2%;
  max-height: 700px; }
  .header .header_login {
    float: right;
    margin-right: 1px;
    width: 50%;
    text-align: right; }
  .header .header_logo {
    float: left; }
  .header .header_banner {
    clear: both; }
    .header .header_banner h1 {
      font-size: 52px;
      padding-top: 15.5%;
      padding-left: 18%;
      width: 64%;
      line-height: 63px;
      letter-spacing: -0.015em;
      margin-left: -2px;
      word-spacing: 1px; }
    .header .header_banner .banner_description {
      font-size: 24px;
      padding-top: 3.1%;
      margin-left: 0;
      letter-spacing: 0.003em; }
    .header .header_banner .header_button {
      padding-left: 22px;
      padding-right: 25px;
      margin-left: 1px;
      padding-top: 3px;
      margin-top: 4%; }

.work-principles {
  position: relative; }
  .work-principles h2 {
    text-align: center;
    font-size: 22px;
    margin-top: 10.35%;
    letter-spacing: -0.01em;
    margin-left: -5px; }
  .work-principles .slider-container {
    position: relative;
    width: 31.97%;
    display: inline-block;
    margin-top: 3.8%;
    margin-right: 1.7%;
    overflow: hidden;
    height: 400px; }
    .work-principles .slider-container:last-child {
      margin-right: 0; }
  .work-principles .slider-container__two {
    margin-right: 1.5%;
    transform: translateX(-1px); }
  .work-principles .slider-container__three {
    transform: translateX(1px); }
  .work-principles .prev, .work-principles .next {
    top: 34.3%;
    left: 5px; }
  .work-principles .next {
    left: 77.4%; }
  .work-principles .principle {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 400px; }
    .work-principles .principle:last-child {
      margin-right: 0; }
  .work-principles .principle_step {
    margin-left: 7.2%; }
  .work-principles h3 {
    margin-top: 5.1%;
    margin-left: 6.8%;
    word-spacing: 0.01em; }
  .work-principles .principle_description {
    margin-left: 6.7%;
    margin-top: 3.9%;
    line-height: 16px;
    width: 90%;
    margin-bottom: 6%; }
  .work-principles .principle .description__two {
    margin-bottom: 5.7%;
    margin-left: 6.8%;
    letter-spacing: 0.01em; }

.partners {
  margin-top: 6.8%;
  text-align: center; }
  .partners .partner {
    display: inline-block;
    max-width: 219px;
    vertical-align: top;
    margin-right: 1.7%;
    margin-top: 3.6%;
    height: 234px;
    overflow: hidden; }
    .partners .partner .partner_photo {
      position: relative; }
    .partners .partner .figcaption {
      margin-top: 8%; }
    .partners .partner .partner_description {
      margin-top: 7%; }
  .partners .partner__telegram {
    margin-right: 0; }
  .partners .partners_button {
    margin: 4.1% auto;
    padding-right: 28px;
    padding-left: 28px; }
  .partners h2 {
    letter-spacing: 0.001em;
    margin-left: -1px; }

.activity-ideas {
  text-align: center;
  margin-top: 4.2%;
  height: 1050px; }
  .activity-ideas .grid {
    margin-top: 3.8%; }
  .activity-ideas .grid-sizer,
  .activity-ideas .grid-item {
    width: 31.9%; }
  .activity-ideas .gutter-sizer {
    width: 20px; }
  .activity-ideas .grid-item {
    -webkit-background-size: cover;
    background-size: cover;
    height: 310px;
    float: left;
    margin-bottom: 20px; }
    .activity-ideas .grid-item .item__text {
      margin-top: 48%; }
  .activity-ideas .grid-item--width2 {
    width: 66.1%;
    height: 310px; }
    .activity-ideas .grid-item--width2 .item__text {
      margin-top: 23%; }
  .activity-ideas h2 {
    letter-spacing: 0.001em;
    margin-left: -3px; }

.search-partners {
  text-align: center;
  margin-top: 5.3%;
  margin-left: -2px;
  padding-bottom: 6.9%; }
  .search-partners p {
    margin-top: 3.8%;
    margin-left: -1px; }
  .search-partners form {
    margin-top: 4.1%; }
    .search-partners form input {
      width: 223px; }
    .search-partners form .search-partners_button {
      padding-left: 22px;
      padding-right: 23px;
      margin-left: 0.7%;
      transform: translateX(-1px); }

.footer {
  margin-top: 2.6%; }
  .footer .footer_logo {
    float: left;
    margin-right: 0.6%; }
  .footer .footer_menu {
    float: left;
    margin-left: 9.8%; }
    .footer .footer_menu h4 {
      padding-bottom: 17%; }
    .footer .footer_menu ul a {
      line-height: 24px; }
  .footer .desined-by {
    float: right; }
    .footer .desined-by p {
      margin-right: -32px;
      margin-top: 1px; }
    .footer .desined-by img {
      margin-top: 8px; }

.wrapper {
  width: 940px;
  margin: 0 auto; }

h2 {
  font-size: 22px; }

.work-principles .slider-container {
  width: 31%; }

.button {
  border-radius: 20px;
  behavior: url(src/css/PIE.htc);
  position: relative;
  zoom: 1; }

/*# sourceMappingURL=main-ie8.css.map */
