@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import "reset.scss";
@import "variables.scss";
@import "mobile.scss";
@import "tablet.scss";
@import "desktop.scss";

.content {
  width: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: $color-white;
}

.button {
  font-size: 14px;
  height: 40px;
  background-color: #ff4e50;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: none;
  @include border-radius(20px);
  color: $color-white;
  outline: none;
  cursor: pointer;
}

h2 {
  color: #333;
}

header {
  background-image: url('../img/header-bg.jpg');
  @include background-size(cover);
  background-position: center;
  .header_login {
    a {
      color: $color-white;
      font-size: 14px;
      text-decoration: none;
      border: 2px solid transparent;
      padding: 7px 16px;
      &:first-child {
        margin-right: -1.3%;
      }
      &:hover {
        border: 2px solid $color-white;
        @include border-radius(22px);
      }
    }
  }
  .header_logo {
    .logo {
      color: $color-white;
      font-size: 20px;
      text-decoration: none;
      letter-spacing: 0.05em;
    }
  }
  .header_banner {
    h1 {
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
    }
    .banner_description {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: center;
      line-height: 20px;
      display: block;
    }
    .header_button {
      color: $color-white;
    }
  }
}

.work-principles {
  //SLIDER
  .prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .next {
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
  }
  @keyframes fade {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  .principle {
    @include border-radius(4px);
    .principle_step {
      font-weight: 400;
      line-height: 19px;
      padding-top: 1px;
      display: inline-block;
      text-align: center;
      letter-spacing: 2px;
      padding-left: 15px;
      padding-right: 12px;
      @include border-radius(20px);
      background-color: $bgc-step;
      text-transform: uppercase;
      font-size: 10px;
    }
    h3 {
      font-size: 24px;
      line-height: 29px;
    }
    .principle_description {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #ccc;
      font-size: 14px;
    }
  }
  .principle__one {
    background: url('../img/principle-first.jpg') no-repeat;
  }
  .principle__two {
    background: url('../img/principle-two.jpg') no-repeat;
  }
  .principle__three {
    background: url('../img/principle-three.jpg') no-repeat;
  }
}

.partners {

  .partner {
    figure {
      .partner_photo {
        &::after {
          position: absolute;
          content: '';
          width: 41px;
          height: 41px;
        }
      }
      figcaption {
        color: #333;
        font-size: 14px;
        letter-spacing: -0.2px;
        word-spacing: 1px;
      }
      .partner_description {
        font-family: Roboto, sans-serif;
        font-weight: 300;
        color: #666;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.15px;
      }
    }
  }
  .partner__tv {
    .partner_photo {
      &::after {
        background-image: url('../img/partner-icon-tv.png');
      }
    }
  }
  .partner__flask {
    .partner_photo {
      &::after {
        background-image: url('../img/partner-icon-flask.png');
        background-repeat: no-repeat;
      }
    }
  }
  .partner__coffe {
    .partner_photo {
      &::after {
        background-image: url('../img/partner-icon-coffe.png');
      }
    }
  }
  .partner__telegram {
    .partner_photo {
      &::after {
        background-image: url('../img/partner-icon-telegram.png');
      }
    }
  }
  .partners_button {
    line-height: 33px;
    background-color: #fff;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ff4e50;
    border: 2px solid #ff4e50;
  }
}

.activity-ideas {
  .grid {
    .grid-item {
      @include border-radius(5px);
      p {
        font-size: 22px;
      }
    }
  }
}

.search-partners {
  border-bottom: 4px solid #ff4e50;
  p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #333;
  }
  form {
    input {
      font-family: Roboto, sans-serif;
      font-size: 14px;
      border: 1px solid #ccc;
      height: 36px;
      box-shadow: 0 0 1px #eee;
      @include border-radius(5px);
    }
    input::-webkit-input-placeholder {
      padding-left: 14px;
    }
  }
}

footer {
  font-family: Montserrat, sans-serif;
  font-weight: bold;

  .footer_logo {

    .logo {
      color: #ff4e50;
      text-decoration: none;
      letter-spacing: 0.73px;
      font-size: 16px;
    }
  }
  .footer_menu {
    h4 {
      letter-spacing: -0.2px;
      color: #333;
      font-size: 14px;
    }
    ul {
      li {
        a {
          text-decoration: none;
          color: #666;
          font-family: Roboto, sans-serif;
          font-size: 14px;
        }
      }
    }
  }
  .desined-by {
    p {
      font-size: 10px;
      color: #ccc;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
    }
  }
}


