@media screen and (min-width: 320px) and (max-width: 767px) {

  .button {
    padding-left: 50px;
    padding-right: 50px;
  }
  h2 {
    font-size: 22px;
    color: #333;
  }
  header {
    .header_login {
      padding-top: 9.5%;
      text-align: center;
      margin-right: 6%;
    }
    .header_logo {
      margin-top: 40%;
      text-align: center;
    }
    .header_banner {
      text-align: center;

      h1 {
        padding-top: 9.2%;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.004em;
      }
      .banner_description {
        padding-top: 2.8%;
        margin-left: 15%;
        width: 70%;
        font-size: 18px;
        letter-spacing: 0.003em;
      }
      .header_button {
        margin-top: 5.5%;
        margin-bottom: 43%;
      }
    }
  }
  .work-principles {
    position: relative;
    text-align: center;
    h2 {
      padding-top: 11.5%;
      margin-left: -1%;
      letter-spacing: -0.2px;
      margin-bottom: 5%;
    }

    //SLIDER

    .slider-container {
      width: 300px;
      margin: 0 auto 10px;
    }
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 23%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      left: 0;
      display: none;
    }
    .principle {
      text-align: left;
      display: block;
      height: 240px;
      position: relative;

      .principle__content {
        margin-left: 7%;
      }

      h3 {
        padding-top: 5.6%;
        width: 70%;
      }
      .principle_description {
        padding-top: 4.5%;
        width: 95%;
        line-height: 16px;
        padding-bottom: 6%;
      }
      .description__two {
        padding-top: 3.5%;
        margin-left: 6.3%;
        letter-spacing: 0.15px;
        width: 90%;
      }
    }
    .principle__two {

      .principle_step {
        margin-top: 9.9%;
        padding-left: 13px;
        padding-right: 10px;
      }
    }
    .principle__three {
      margin-top: 3.1%;
    }
  }

  .partners {
    padding-top: 8%;
    text-align: center;

    h2 {
      width: 97%;
      line-height: 26px;
    }
    .partner {
      padding-top: 4.5%;

      figure {
        .partner_photo {
          &::after {
            bottom: -3px;
            right: -4%;
          }
        }

        figcaption {
          padding-top: 5.4%;
          margin-left: -0.5%;
        }
        .partner_description {
          width: 69%;
          padding-top: 4.8%;
          margin-left: 15.1%;
          padding-bottom: 3.2%;
        }
      }
    }
    .partner__flask {
      margin-left: -1.3%;
    }
    .partner__telegram {
      margin-left: -1.5%;
    }
    .partners_button {
      padding-left: 71px;
      padding-right: 72px;
      margin-top: 4.5%;
    }
  }

  .activity-ideas {
    text-align: center;
    margin-top: 11%;
    line-height: 26px;
    h2 {
      text-align: center;
      margin-bottom: 4%;
    }
    .grid {
      .grid-item {
        -webkit-background-size: cover;
        background-size: cover;
        width: 300px;
        height: 121px;
        text-align: center;
        margin-bottom: 3%;
        p {
          line-height: 121px;
          //width: 74%;
        }
      }
      .gutter-sizer{
        width: 5px;
      }
      .grid-sizer,
      .grid-item {
        width: 300px;
      }
    }
  }
  .search-partners {
    margin-top: 7.8%;
    text-align: center;
    padding-bottom: 12.4%;
    h2 {
      margin-left: -1%;
      line-height: 26px;
    }
    p {
      padding-top: 3.7%;
      margin-left: -1.3%;
    }
    form {
      margin-top: 5.4%;
      input {
        width: 86.2%;
        margin-left: -1%;
      }
      .search-partners_button {
        margin-top: 3.1%;
        padding-left: 26%;
        padding-right: 26%;
        margin-left: -1%;
        line-height: 36px;
      }
    }
  }

  footer {
    text-align: center;

    .footer_logo {
      padding-top: 5.7%;
    }
    .footer_menu {
      padding-top: 4.5%;
      h4 {
      }
      .title-menu__aligned {
      }
      ul {
        padding-top: 1.5%;
        margin-bottom: 0.2%;
        li {
          display: inline-block;
          margin-right: 3.2%;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .desined-by {
      margin-top: 5.2%;
      .logo-developer-company {
        padding-top: 2.5%;
        margin-left: -2px;
      }
    }
  }
}


