body {
  bottom: 0;
  left: 0;
  min-width: 736px;
  position: absolute;
  right: 0;
  top: 0;
}

/*NAV*/

header {
  background: url('../img/nav-bg.png') repeat-x;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  height: 36px;
  position: relative;
  z-index: 1;
}

.nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
}

.nav a {
  color: #60b5ed;
  display: block;
  padding: 11px;
  text-decoration: none;
}

.registration {
  margin-right: 20px;
}

.registration a {
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-sizing: border-box;
  color: #fff;
  height: 36px;
  padding-left: 14px;
  text-decoration: none;
}

.registration span {
  text-decoration: underline;
}

.registration a:hover {
  background: #4faedb; /* Old browsers */
  background: linear-gradient(to bottom, #4faedb 20%, #2e7ac4 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -webkit-linear-gradient(top, #4faedb 20%, #2e7ac4 98%); /* Chrome10-25,Safari5.1-6 */
  background: -moz-linear-gradient(top, #4faedb 20%, #2e7ac4 98%); /* FF3.6-15 */
  border-bottom: 1px solid #4299d2;
  border-left: 1px solid #54a0db;
  border-right: 1px solid #54a0db;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4faedb', endColorstr='#2e7ac4', GradientType=0); /* IE6-9 */
}

.offers {
  margin-left: 12px;
  position: relative;
}

.offers a::after {
  border-left: 1px solid #56a2dc;
  bottom: 3px;
  content: '';
  left: -1px;
  position: absolute;
  top: 2px;
  width: 1px;
}

.offers a {
  color: #fff;
  padding-left: 19px;
  padding-right: 16px;
}

.offers a::before {
  background-image: url('../img/flag-icon.png');
  content: '';
  display: block;
  float: left;
  height: 23px;
  margin: -4px 10px 0 0;
  width: 21px;
}

.offers a:hover {
  background: #4faedb; /* Old browsers */
  background: -moz-linear-gradient(top, #4faedb 20%, #2e7ac4 98%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4faedb 20%, #2e7ac4 98%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4faedb 20%, #2e7ac4 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: 1px solid #4299d2;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4faedb', endColorstr='#2e7ac4', GradientType=0); /* IE6-9 */
  height: 36px;
}

/*.active {*/
/*background-color: #4eabda;*/
/*}*/

/*.active a {*/
/*color: #fff;*/
/*}*/

.nav a:hover {
  background-color: #4eabda;
  color: #fff;
}

/*CONTENT*/

.wrapper {
  align-items: center;
  background-image: url('../img/bg.jpg');
  background-position: center center;
  background-size: cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  min-height: 686px;
  position: absolute;
  right: 0;
  top: 0;
}

.content {
  background-color: rgba(0, 0, 0, .63);
  display: block;
  height: 614px;
  width: 561px;
}

h1 {
  border-bottom: 2px solid #c1ccbc;
  color: #fff;
  font-family: Tahoma, sans-serif;
  font-size: 24px;
  line-height: 62px;
  margin-left: -10px;
  text-align: center;
}

.main-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

.separator {
  font-size: 14px;
  margin-top: 28px;
  position: relative;
}

.separator::before {
  background-color: #666;
  border-bottom: 1px solid #000;
  content: '';
  display: block;
  height: 1px;
  left: 17px;
  position: absolute;
  top: 6px;
  width: 123px;
}

.separator::after {
  background-color: #666;
  border-bottom: 1px solid #000;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 17px;
  top: 6px;
  width: 123px;
}

.fb {
  opacity: .75;
}

.fb:hover {
  opacity: 1;
}

form {
  margin-top: 29px;
  max-width: 276px;
  text-align: center;
}

/*PLACEHOLDER*/

::-webkit-input-placeholder {
  color: #c3c3c3;
}

::-moz-placeholder {
  color: #c3c3c3;
}

/* Firefox 19+ */
:-ms-input-placeholder {
  color: #c3c3c3;
}

input:focus::-webkit-input-placeholder {
  color: #f5f3f5;
}

input {
  background-color: #0e0e0e;
  border: 0;
  border-bottom: 1px solid #484948;
  box-sizing: border-box;
  color: #c3c3c3;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  height: 35px;
  margin-bottom: 14px;
  min-width: 276px;
  padding-left: 18px;
}

.first-name {
  margin-bottom: 10px;
}

.updates {
  margin-top: 6px;
}

.updates input {
  height: 13px;
}

/*.selected {*/
/*color: #fffcfc;*/
/*background-image: url('../img/button_selected.png');*/
/*background-position: center center;*/
/*border-bottom: 1px solid #689bcc;*/
/*}*/

input:focus {
  background-image: url('../img/button_selected.png');
  background-position: center center;
  border-bottom: 1px solid #689bcc;
  color: #fffcfc;
}

label {
  color: #ccc;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
}

.submit input {
  background: url('../img/submit-button.png') no-repeat center;
  border: 0;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  opacity: .75;
  outline: none;
  padding-left: 13px;
}

.submit input:focus {
  opacity: 1;
}

p {
  color: #ccc;
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  line-height: 16px;
  margin-top: 2px;
  text-align: center;
  width: 310px;
}
