@media screen and (min-width: 320px) and (max-width: 479px) {
  .content {
    box-sizing: border-box;
    padding-left: 5.25%;
    padding-right: 5.25%;
    width: 100%;
  }

  /*HEADER*/
  .logo {
    background-image: url('../img/320/logo.png');
    height: 39px;
    width: 152px;
  }

  .header {
    display: block;
    padding-bottom: 0px;
    padding-left: 23%;
    padding-top: 70px;
  }

  .header__logo {
    display: block;
  }

  .header__nav {
    display: block;
    padding-left: 0;
    padding-top: 0;
    margin-top: 28px;
    margin-left: 22%;
    text-align: center;
    width: 57px;
    height: 40px;
    overflow: hidden;
  }
  .nav__list_header-block{
    display: block;
    border-top: 1px solid transparent;
  }

  .nav__list_header-block:hover {
    background-color: rgba(54, 41, 62, .75);
    border: 1px solid #051116;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    display: table;
    left: 11.3%;
    overflow: hidden;
    position: absolute;
    width: 76.5%;
    z-index: 1;
  }
  .nav__href_header-block_first-element{
    position: relative;
  }
  /*.nav__href_header-block_first-element::before{*/
    /*background-color: #edbfff;*/
    /*bottom: 2px;*/
    /*content: '';*/
    /*height: 2px;*/
    /*left: 10px;*/
    /*position: absolute;*/
    /*right: 0;*/
  /*}*/

  .nav__item_header-block:first-child {
    border-top: 1px solid transparent;
  }

  .nav__item_header-block {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #36283e;
    border-top: 1px solid #5f486a;
    margin-right: 0;
  }

  .nav__href_header-block {
    display: block;
  }

  /*PRODUCT*/
  .wrapper_product-block {
    background-image: none;
  }

  .product__information {
    margin-bottom: 0;
    padding-left: 47px;
    width: 73%;
    padding-top: 120px;
  }

  .information__header_product-block {
    font-size: 36px;
    letter-spacing: -.4px;
  }

  .information__tagline_product-block {
    font-size: 18px;
    height: 24px;
    letter-spacing: -.2px;
    line-height: 24px;
    overflow: hidden;
  }

  .information__description_product-block {
    display: none;
  }

  .product__phone {
    display: none;
  }

  /*SLIDER*/
  .slider_slider-block {
    margin-right: 33.5%;
    margin-top: 71px;
    padding-bottom: 65px;
  }

  /*ARTICLE*/
  .information__header_article-block {
    font-size: 24px;
    letter-spacing: -.26px;
    padding-left: 0;
  }

  .block_article-block {
    padding-bottom: 58px;
  }

  .article {
    margin-left: 23%;
    margin-top: 69px;
  }

  .bad__content {
    width: 100%;
  }

  .article__information {
    display: table-row;
  }

  .information__header_article-block::before {
    top: 2px;
  }

  .information__description_article-block {
    height: 71px;
    hyphens: none;
    letter-spacing: -.06px;
    padding-top: 2px;
  }

  .information__read-more-article-block {
    margin-bottom: 22px;
    padding-right: 4%;
    padding-top: 18px;
  }

  /*REVIEWS*/
  .reviews {
    margin-left: 9.2%;
    width: 89.6%;
  }

  .information_rewiews-block {
    margin-right: 0;
    margin-top: 69px;
  }

  .information__header_rewiews-block {
    font-size: 24px;
    letter-spacing: -.1px;
    padding-left: 13.8%;
    padding-top: 25px;
  }

  .information__header_other_color {
    display: block;
  }

  .information__header_rewiews-block::before {
    left: -24px;
  }

  .information__description_rewiews-block {
    height: 164px;
    letter-spacing: -.03px;
    margin-bottom: -5px;
    overflow: hidden;
    padding-left: 15%;
    padding-top: 4px;
  }

  .information_rewiews-block::before {
    display: none;
  }

  .slider_reviews-block {
    margin-left: 9%;
    width: auto;
  }

  /*BLOGS*/
  .blogs_block {
    margin-left: .8%;
    margin-top: 46px;
    overflow: hidden;
    width: 100%;
  }

  .information__item {
    display: block;
  }

  .information__tagline_blogs_block {
    width: 70%;
  }

  .information_blogs-block {
    width: 100%;
  }

  .information__header_blogs-block {
    letter-spacing: -.1px;
  }

  .information__tagline_blogs_block {
    height: 17px;
    overflow: hidden;
    padding-top: 19px;
  }

  .information__description_blogs_block {
    height: 30px;
    letter-spacing: -.07px;
    overflow: hidden;
    padding-left: 23%;
  }

  .information__tagline_icon::before {
    left: 2px;
  }

  .information__read-more_blogs-block {
    padding-right: 4%;
    padding-top: 21px;
  }

  .block_reviews-block {
    padding-bottom: 87px;
  }

  /*PARTNERS*/
  .partners-logo {
    margin-bottom: -5px;
    margin-top: 50px;
  }

  .partners-logo__img {
    padding-bottom: 56px;
    padding-right: 2.5%;
  }

  .partners-logo__img:nth-child(even) {
    padding-right: 0;
  }

  /*INFO*/
  .block_info-block {
    display: none;
  }

  /*FOOTER*/
  .nav_footer {
    display: none;
  }

  .copywrite_footer {
    float: none;
    margin-left: 26%;
    margin-top: 42px;
    padding-bottom: 147px;
  }

}
