@media screen and (min-width: 480px) and (max-width: 767px) {
  .content {
    box-sizing: border-box;
    padding-left: .875%;
    padding-right: .875%;
    width: 100%;
  }

  .content__header {
    padding-bottom: 72px;
    position: relative;
  }

  /*HEADER*/
  .header {
    padding-left: 34%;
    padding-top: 14.8%;
  }

  .logo {
    background-image: url('../img/480/logo.png');
    height: 39px;
    width: 152px;
  }

  .header__logo {
    padding-bottom: 4.8%;
  }

  .header__nav {
    display: table-row;
    /*display: none;*/
  }

  .nav__list_header-block {
    background-color: rgba(54, 41, 62, .75);
    border: 1px solid #051116;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    display: table;
    left: 17.7%;
    overflow: hidden;
    position: absolute;
    width: 38.9%;
    z-index: 1;
  }

  .nav__item_header-block {
    display: table-row;
    text-align: center;
  }

  .nav__href_header-block {
    border-bottom: 1px solid #36283e;
    border-top: 1px solid #5f486a;
    display: block;
    height: 40px;
    line-height: 40px;
  }

  .nav__href_header-block:hover {
    background-color: rgba(43, 34, 49, .75);
  }

  .nav__href_header-block_first-element {
    height: 45px;
    line-height: 48px;
  }

  .nav__href_header-block:hover::after {
    bottom: 0;
    left: 0;
    right: 0;
  }

  /*PRODUCT*/
  .product {
    padding-bottom: 11px;
  }

  .information__header_product-block {
    font-size: 36px;
    letter-spacing: -.2px;
  }

  .information__tagline_product-block {
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
  }

  .information__description_product-block {
    display: none;
  }

  .product__information {
    margin-left: 7.6%;
    margin-top: 94px;
    padding-top: 0;
    width: 42%;
  }

  .product__phone {
    margin-left: 15px;
  }

  .phone__img {
    background-image: url('../img/480/phone.png');
    background-repeat: no-repeat;
    height: 304px;
    top: -9px;
    width: 192px;
  }

  /*SLIDER*/
  .slider_slider-block {
    margin-right: 40%;
    margin-top: 22px;
    padding-bottom: 57px;
  }

  /*ARTICLE*/
  .bad__content {
    width: 100%;
  }

  .article {
    margin-left: 16.8%;
    margin-right: 1%;
    margin-top: 76px;
    padding-bottom: 51px;
  }

  .article__information {
    display: table-row;
  }

  .information__header_article-block {
    font-size: 24px;
    letter-spacing: -.25px;
    padding-left: 0;
  }

  .information__description_article-block {
    height: 70px;
    letter-spacing: -.05px;
    padding-top: 2px;
  }

  .information__header_article-block::before {
    top: 2px;
  }

  .information__read-more-article-block {
    margin-bottom: 22px;
    padding-right: 17px;
    padding-top: 19px;
  }

  /*REVIEWS*/
  .block_reviews-block {
    padding-bottom: 87px;
  }

  .reviews {
    margin-left: 8.5%;
    width: 97%;
  }

  .information_rewiews-block {
    margin-top: 69px;
  }

  .information__header_rewiews-block {
    letter-spacing: -.1px;
    padding-left: 38px;
    padding-top: 28px;
  }

  .information__header_rewiews-block::before {
    left: -24px;
  }

  .information__description_rewiews-block {
    margin-bottom: -3px;
    padding-left: 38px;
    padding-right: 29px;
    padding-top: 13px;
  }

  .information_rewiews-block::before {
    display: none;
  }

  .slider_reviews-block {
    margin-left: 35.1%;
    text-align: left;
  }

  .blogs_block {
    margin-left: 16.5%;
    margin-top: 46px;
  }

  .information_blogs-block {
    width: 74%;
  }

  .information__tagline_blogs_block {
    padding-top: 19px;
  }

  .information__description_blogs_block {
    height: 32px;
    letter-spacing: -.05px;
    overflow: hidden;
    padding-left: 67px;
  }

  .information__read-more_blogs-block {
    padding-right: 0;
    padding-top: 15px;
  }

  .information__tagline_icon::before {
    left: 2px;
  }

  /*PARTNERS*/
  .partners-logo {
    margin-bottom: 37px;
    margin-top: 15px;
  }

  .partners-logo__img {
    padding-right: 12px;
    padding-top: 20px;
  }

  .partners-logo__img:nth-child(3) {
    padding-right: 0;
  }

  /*INFO*/
  .block_info-block {
    padding-left: 3%;
    padding-right: 3%;
    width: auto;
  }

  .information_info-block {
    display: table-row;
    height: auto;
  }

  .header_info-block {
    margin-top: 0;
    padding-left: 0;
    padding-top: 0;
  }

  .content_info-block {
    padding-bottom: 47px;
    padding-top: 66px;
  }

  .divide_info-block {
    height: 50px;
  }

  .information__header_info-block {
    font-size: 24px;
  }

  .information__description_info-block {
    height: 100px;
    padding-top: 9px;
  }

  /*FOOTER*/
  .nav_footer {
    margin-bottom: 33px;
    margin-left: 3.8%;
  }

  .nav__item_footer:last-child {
    margin-right: 0;
  }

  .nav__item_footer {
    margin-right: 21px;
  }

  .copywrite_footer {
    float: none;
    margin-left: 35.3%;
    margin-top: 0;
    padding-bottom: 87px;
  }

  .nav__href_footer {
    letter-spacing: -.14px;
  }
}
