@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSans/OpenSansLight/OpenSansLight.woff") format("woff"),
  url("../fonts/OpenSans/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LeagueGothicRegular";
  src: url("../fonts/LeagueGothic/LeagueGothicRegular/LeagueGothicRegular.eot");
  src: url("../fonts/LeagueGothic/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/LeagueGothic/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"),
  url("../fonts/LeagueGothic/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*GENERAL*/
.wrapper {
  background-image: url("../img/bg1.jpg");
  width: 100%;
  height: 100%;
}

.block {
  width: 100%;
}

.content {
  width: 960px;
  margin: 0 auto;
}

.nav {
  display: inline-block;
}

.nav__list {
  display: inline-block;
}

.nav__item {
  display: inline-block;
}

.nav__href {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.logo {
  display: inline-block;
  background: url("../img/logo.png") no-repeat;
  width: 152px;
  height: 58px;
}

.information {
  display: inline-block;
}

.information__header {
  font-family: LeagueGothicRegular, sans-serif;
  color: #ffffff;
}

.information__tagline {
  font-family: LeagueGothicRegular, sans-serif;
}

.information__description {
  color: #ffffff;
  font-family: OpenSansLight, sans-serif;
}

.phone {
  display: inline-block;
  position: relative;
}
.information__read-more{
  font-family: LeagueGothicRegular, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

/*HEADER*/
.header {
  display: table;
  padding-top: 51px;
  padding-bottom: 169px;
  width: 100%;
}

.header__logo {
  display: table-cell;
}

.header__nav {
  display: table-cell;
  text-align: right;
  font-family: LeagueGothicRegular, sans-serif;
  font-size: 24px;
  vertical-align: top;
  padding-top: 23px;
}

.nav__item_header-block {
  margin-right: 48px;
}

.nav__list_header-block {
  margin-right: 1px;
}

.nav__item_header-block:last-child {
  margin-right: 0px;
}

.nav__href_header-block {
  position: relative;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  letter-spacing: -0.25px;
}

.nav__href_header-block:hover::after {
  position: absolute;
  content: '';
  height: 2px;
  background-color: #edbfff;
  bottom: -2px;
  left: -5px;
  right: -5px;
}

/*PRODUCT*/
.product {
  position: relative;
}

.product__information {
  width: 507px;
  padding-top: 79px;
  margin-bottom: 82px;
}

.information__header_product-block {
  font-size: 60px;
  letter-spacing: -0.7px;
  word-spacing: -2px;
}

.information__tagline_product-block {
  color: #edbfff;
  font-size: 32px;
  word-spacing: -1.85px;
  line-height: 31px;
}

.information__description_product-block {
  font-size: 18px;
  padding-top: 4px;
  line-height: 24px;
  padding-top: 5px;
}

.product__phone {
  vertical-align: top;
}

.phone__img {
  position: absolute;
  top: -17px;
  margin-left: 105px;
}

.wrapper_product-block {
  background-image: url("../img/bg-opacity.png");
}

/*SLIDER*/
.slider_slider-block {
  margin-top: 92px;
  margin-right: 164px;
  margin-bottom: 57px;
}

.slider__menu {
  text-align: right;
}

.slider__item {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid #3b3842;
  border-radius: 100%;
  margin-right: 2px;
  background-color: #3b3842;
}

.slider__item:hover {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #d4d4d4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#d4d4d4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#d4d4d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */
  border: 3px solid #2f2f36;
}

/*ARTICLE*/
.block_article-block{
  border-top: 1px solid #33253a;
  border-bottom: 1px solid #1d2f37;
  background: #745083; /* Old browsers */
  background: -moz-linear-gradient(top, #745083 0%, #322539 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #745083 0%, #322539 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #745083 0%, #322539 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#745083', endColorstr='#322539', GradientType=0); /* IE6-9 */
}

.article__information {
  display: inline-block;
  width: 223px;
  margin-top: 77px;
  padding-right: 49px;
  padding-left: 63px;
  vertical-align: top;
}
.article__information:last-child{
  padding-right: 0px;
  padding-left: 0px;
}

.information__header_article-block {
  position: relative;
  font-size: 30px;
  text-shadow: 1px 1px 1px #0f1518;
  letter-spacing: -.4px;
  padding-left: 1px;
  line-height: 28px;
}
.information__header_article-block::before{
  content: '';
  width: 30px;
  height: 28px;
  background-image: url("../img/sprite.png");
  position: absolute;
  left: -50px;
  top: 5px;
  
}

.information__description_article-block {
  font-size: 16px;
  text-shadow: 1px 1px 1px #0f1518;
  word-spacing:-1px;
  padding-top: 8px;
  line-height: 24px;
  height: 115px;
  overflow: hidden;
}
.information__read-more-article-block{
  color: #ffffff;
  text-align: right;
  padding-top: 25px;
  margin-bottom: 68px;
}
.information__read-more-article-block:hover{
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}


/*REVIEWS*/
.block_reviews-block{
  border-top: 1px solid #0d151b;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f9f9f9;
  /*background: url("../") no-repeat top center;*/
}
.information_rewiews-block{
  width: 427px;
  height: 292px;
  background-image: url("../img/rewiews-information-block.png");
}
.information__header_rewiews-block{
  color: #454545;
  font-size: 30px;
}
.information__header_other_color{
  position: relative;
  color: #edbfff;
}
.information__header_rewiews-block::before{
  content: '';
  width: 50px;
  height: 51px;
  background-image: url('../img/user-photo.png');
  position: absolute;
}
.information__description_rewiews-block{
  color: #454545;
  font-size: 16px;
}
.blogs_reviews_block{
  display: inline-block;
}
.information_blogs-block{
  width: 450px;
  color: #454545;}

.information__header_blogs-block{
  color: #454545;
  font-size: 30px;
}


/*PARTNERS*/
.block_partners{
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
  background-color: #f9f9f9;
}



/*INFO*/
.block_info{
  border-top: 1px solid #d8d8d8;
  background-color: #ececec;
}


/*FOOTER*/
.block_footer{
  background-image: url("../img/bg-footer.jpg");
}
