@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans/OpenSansLight/OpenSansLight.eot');
  src: url('../fonts/OpenSans/OpenSansLight/OpenSansLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSansLight/OpenSansLight.woff') format('woff'),
  url('../fonts/OpenSans/OpenSansLight/OpenSansLight.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot');
  src: url('../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.woff') format('woff'),
  url('../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('../fonts/LeagueGothic/LeagueGothicRegular/LeagueGothicRegular.eot');
  src: url('../fonts/LeagueGothic/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LeagueGothic/LeagueGothicRegular/LeagueGothicRegular.woff') format('woff'),
  url('../fonts/LeagueGothic/LeagueGothicRegular/LeagueGothicRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

/*GENERAL*/
.wrapper {
  background-image: url('../img/bg1.jpg');
  background-position: top center;
  background-size: cover;
}

.block {
  width: 100%;
}

.content {
  margin: 0 auto;
  width: 960px;
}

.nav {
  display: inline-block;
  font-family: LeagueGothicRegular, sans-serif;
}

.nav__list {
  display: inline-block;
}

.nav__item {
  display: inline-block;
}

.nav__href {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  background: url('../img/logo.png') no-repeat;
  display: inline-block;
  height: 58px;
  width: 152px;
}

.information {
  display: inline-block;
}

.information__header {
  color: #fff;
  font-family: LeagueGothicRegular, sans-serif;
  font-size: 30px;
}

.information__tagline {
  font-family: LeagueGothicRegular, sans-serif;
}

.information__description {
  color: #fff;
  font-family: OpenSansLight, sans-serif;
  font-size: 16px;
}

.phone {
  display: inline-block;
  position: relative;
}

.information__read-more {
  font-family: LeagueGothicRegular, sans-serif;
  font-size: 18px;
  text-align: right;
  text-transform: uppercase;
}

.information__read-more-link {
  text-decoration: none;
}

/*HEADER*/
.header {
  display: table;
  padding-bottom: 169px;
  padding-top: 51px;
  width: 100%;
}

.header__logo {
  display: table-cell;
}

.header__nav {
  display: table-cell;
  font-size: 24px;
  padding-top: 23px;
  text-align: right;
  vertical-align: top;
}

.nav__item_header-block {
  margin-right: 48px;
}

.nav__list_header-block {
  margin-right: 1px;
}

.nav__item_header-block:last-child {
  margin-right: 0;
}

.nav__href_header-block {
  letter-spacing: -.25px;
  position: relative;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
}

.nav__href_header-block:hover::after {
  background-color: #edbfff;
  bottom: -2px;
  content: '';
  height: 2px;
  left: -5px;
  position: absolute;
  right: -5px;
}

/*PRODUCT*/
.product {
  position: relative;
}

.product__information {
  margin-bottom: 81px;
  padding-top: 79px;
  width: 514px;
}

.information__header_product-block {
  font-size: 60px;
  letter-spacing: -.99px;
}

.information__tagline_product-block {
  color: #edbfff;
  font-size: 32px;
  letter-spacing: -.41px;
  line-height: 31px;
}

.information__description_product-block {
  font-size: 18px;
  letter-spacing: -.07px;
  line-height: 24px;
  margin-left: -1px;
  padding-top: 5px;
}

.product__phone {
  margin-left: 98px;
  vertical-align: top;
}

.phone__img {
  background-image: url('../img/phone.png');
  height: 434px;
  position: absolute;
  top: -17px;
  width: 274px;
}

.wrapper_product-block {
  background-image: url('../img/bg-opacity.png');
}

/*SLIDER*/
.slider_slider-block {
  margin-right: 165px;
  margin-top: 93px;
  padding-bottom: 55px;
}

.slider__menu {
  text-align: right;
}

.slider__item {
  background-color: #3b3842;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  height: 17px;
  margin-right: 1px;
  position: relative;
  width: 17px;
}

.slider__item:hover::before {
  background-image: url('../img/slider-hover-header.png');
  content: '';
  height: 11px;
  position: absolute;
  right: 3px;
  /*z-index: 1;*/
  top: 3px;
  width: 11px;
}

/*ARTICLE*/
.block_article-block {
  background: #745083; /* Old browsers */
  background: -moz-linear-gradient(top, #745083 0%, #322539 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #745083 0%, #322539 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #745083 0%, #322539 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-top: 1px solid #33253a;
  -moz-box-shadow: inset 0 0 2px 0 rgba(18, 25, 31, 1);
  -webkit-box-shadow: inset 0 0 2px 0 rgba(18, 25, 31, 1);
  box-shadow: inset 0 0 2px 0 rgba(18, 25, 31, 1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#745083', endColorstr='#322539', GradientType=0); /* IE6-9 */
  position: relative;
  /*border-bottom: 1px solid #1d2f37;*/
}

.block_article-block::after {
  border-bottom: 1px solid #0d151b;
  border-top: 1px solid #1d2f37;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  /*height: 100%;*/
  /*width: 100%;*/
}

.article {
  display: table;
  margin-top: 79px;
}

.bad__content {
  width: 966px;
}

.article__information {
  display: table-cell;
  padding-left: 62px;
  width: 228px;
}

.article__information:first-child {
  margin-left: 0;
}

.information__header_article-block_icon2::before {
  background-position: 0 62px;
}

.information__header_article-block_icon3::before {
  background-position: 0 31px;
}

.article__information:last-child {
  margin-right: 0;
}

.information__divide {
  display: table-cell;
  width: 49px;
}

.divide_ppc {
  width: 47px;
}

.information__header_article-block {
  letter-spacing: -.35px;
  line-height: 26px;
  padding-left: 2px;
  position: relative;
  text-shadow: 1px 1px 1px #0f1518;
}

.information__header_article-block::before {
  background-image: url('../img/sprite.png');
  content: '';
  height: 31px;
  left: -54px;
  position: absolute;
  top: 3px;
  width: 33px;
}

.information__description_article-block {
  height: 118px;
  hyphens: auto;
  line-height: 24px;
  overflow: hidden;
  padding-top: 8px;
  text-shadow: 1px 1px 1px #0f1518;
}

.information__read-more-article-block {
  letter-spacing: -.15px;
  margin-bottom: 68px;
  padding-right: 8px;
  padding-top: 24px;
}

.information__read-more-link {
  color: #fff;
}

.information__read-more_less-padding-right {
  padding-right: 12px;
}

.information__read-more-link:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, .8);
}

/*REVIEWS*/
.block_reviews-block {
  background-color: #f9f9f9;
  background-image: url('../img/bg-reviews.png');
  background-position: top center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #fff;
  padding-bottom: 70px;
}

.reviews {
  display: inline-block;
  margin-left: 23px;
  width: 470px;
}

.information_rewiews-block {
  background-color: #fff;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  margin-bottom: 21px;
  margin-right: 42px;
  margin-top: 99px;
  padding-bottom: 36px;
  position: relative;
}

.information_rewiews-block::before {
  background-image: url('../img/reviews-corner.png');
  bottom: -21px;
  content: '';
  height: 21px;
  position: absolute;
  right: 39px;
  width: 22px;
}

.information__header_rewiews-block {
  color: #454545;
  letter-spacing: -.2px;
  padding-left: 40px;
  padding-top: 30px;
  position: relative;
  text-transform: uppercase;
}

.information__header_other_color {
  color: #edbfff;
}

.information__header_rewiews-block::before {
  background-image: url('../img/user-photo.png');
  content: '';
  height: 51px;
  left: -23px;
  position: absolute;
  top: 18px;
  width: 50px;
}

.information__description_rewiews-block {
  /*width: 348px;*/
  color: #454545;
  hyphens: auto;
  letter-spacing: -.07px;
  line-height: 24px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
}

.blogs_reviews_block {
  display: inline-block;
}

.blogs_block {
  display: inline-block;
  margin-left: 13px;
  margin-top: 129px;
  vertical-align: top;
  width: 450px;
}

.information_blogs-block {
  color: #454545;
}

.information__header_blogs-block {
  color: #454545;
  letter-spacing: -.22px;
}

.information__tagline_blogs_block {
  color: #454545;
  font-family: 'OpenSansExtraBold', sans-serif;
  font-size: 16px;
  line-height: 17px;
  padding-left: 67px;
  padding-top: 19px;
  position: relative;
}

.information__description_blogs_block {
  color: #454545;
  letter-spacing: -.12px;
  line-height: 30px;
  padding-left: 67px;
}

.information__read-more_blogs-block {
  letter-spacing: -.2px;
  padding-right: 22px;
  padding-top: 23px;
}

.information__read-more-link_blogs-block {
  color: #454545;
}

.information__read-more-link_blogs-block:hover {
  text-shadow: 1px 1px 1px #fff;
}

.slider_reviews-block {
  padding-top: 3px;
  text-align: center;
  width: 427px;
}

.slider__item_reviews-block {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  height: 15px;
  position: relative;
  width: 15px;
}

.slider__item_reviews-block:hover::before {
  background-image: url('../img/slider-hover-review.png');
  content: '';
  height: 13px;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 13px;
}

.information__tagline_icon-third {
  padding-top: 16px;
}
.information__item{
  position: relative;
  display: inline-block;
}
.information__img{
  display:inline-block;
  position: absolute;
  top: 15px;
  left: 1px;

}

/*.information__tagline_icon::before {*/
  /*background-image: url('../img/updates-icon1.png');*/
  /*content: '';*/
  /*height: 49px;*/
  /*left: 1px;*/
  /*position: absolute;*/
  /*top: 15px;*/
  /*width: 49px;*/
/*}*/

.information__tagline_icon-second::before {
  background-image: url('../img/updates-icon2.png');
}

.information__tagline_icon-third::before {
  background-image: url('../img/updates-icon3.png');
  top: 12px;
}

/*PARTNERS*/
.block_partners {
  background-color: #f9f9f9;
  border-bottom: 1px solid #fefefe;
  border-top: 1px solid #fefefe;
}

.partners-logo {
  margin-bottom: 26px;
  margin-top: 23px;
  text-align: center;
}

.partners-logo__img:last-child {
  padding-right: 0;
}

.partners-logo__img {
  padding-right: 30px;
}

/*INFO*/
.block_info-block {
  background-color: #ececec;
  border-top: 1px solid #d8d8d8;
}

.content_info-block {
  display: table;
  padding-bottom: 90px;
}

.information_info-block {
  display: table-cell;
  height: 205px;
  hyphens: auto;
  overflow: hidden;
  padding-top: 97px;
  position: relative;
  vertical-align: top;
  width: 282px;
}

.divide_info-block {
  width: 56px;
}

.divide_info-block_ppc {
  width: 58px;
}

.information__header_info-block {
  color: #454545;
  letter-spacing: -.3px;
}

.header_info-block {
  color: #454545;
  font-family: LeagueGothicRegular, sans-serif;
  font-size: 48px;
  letter-spacing: -.5px;
  margin-top: -53px;
  padding-bottom: 9px;
}

.header_info-block_other_color {
  color: #b9b9b9;
}

.information__description_info-block {
  color: #787878;
  height: 168px;
  hyphens: auto;
  letter-spacing: -.1px;
  line-height: 24px;
  overflow: hidden;
  padding-top: 7px;
  /*-webkit-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
  /*-ms-hyphens: auto;*/
  text-shadow: 1px 1px 0 #fff;
}

.information__description_info-block_plus-targline {
  height: 124px;
}

.information__tagline_info-block {
  color: #c5c5c5;
  font-family: Georgia, sans-serif;
  font-size: 16px;
  font-style: italic;
  letter-spacing: -.13px;
  line-height: 23px;
}

/*FOOTER*/
.block_footer {
  background-image: url('../img/bg-footer.jpg');
  background-size: cover;
}

.nav_footer {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 47px;
}

.nav__item_footer {
  margin-right: 41px;
}

.nav__href_footer {
  letter-spacing: -.3px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}

.copywrite_footer {
  color: #fff;
  display: inline-block;
  float: right;
  font-family: OpenSansLight, sans-serif;
  font-size: 12px;
  margin-right: -1px;
  margin-top: 54px;
}

.bold_footer {
  font-family: OpenSansExtraBold, sans-serif;
}
