<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/test.js"></script>
</head>
<body>
<script type="text/template" id="result">
    <h1><%= title %></h1>
    <div class="wrapper">
        <ul>
            <form>
                <% for ( var i = 0; i < question.length; i++ ) { %>
                <li class="question"><%= i + 1 %>. <%= question[i]%></li>
                <ul>
                    <% for ( var k = 0; k < answer[i].length; k++ ) { %>
                    <li id="d<%=i%><%=k%>" class="answer"><label for="t<%=i%><%=k%>"><input id="t<%=i%><%=k%>"
                                                                                            name="question-<%=i%>"
                                                                                            type="radio" value="<%=k%>">
                        <%=answer[i][k]%></label></li>

                    <% } %>

                </ul>

                <% } %>
                <button class="submit">Проверить мои результаты</button>
            </form>
        </ul>
    </div>
</script>

</body>
</html>
