<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/tmpl.js"></script>
    <script src="js/test.js"></script>
</head>
<body>
<script type="text/template" id="result">
    <h1><%= title %></h1>
    <div class="wrapper">
        <ul>
            <form>
                <li><input type="text" class="question" placeholder="Введите ваш вопрос"></li>
                <ul>
                    <% for ( var k = 0; k < 4; k++ ) { %>
                    <li><label for="t<%=k%>"><input id="t<%=k%>"
                                                    name="question-<%=k%>"
                                                    type="checkbox" class="rightAnswers" value="<%=k%>">
                        <input type="text" class="answers" id="d<%=k%>"
                               placeholder="Введите ваш ответ и отметьте галочкой правильный ответ"></label>
                    </li>

                    <% } %>

                </ul>

                <button class="submit">Записать результат</button>
            </form>
        </ul>
    </div>
</script>

</body>
</html>

