.partners {
  margin-top: 6.8%;
  text-align: center;

  .partner {
    display: inline-block;
    max-width: 219px;
    vertical-align: top;
    margin-right: 1.7%;
    margin-top: 3.6%;
    height: 234px;
    overflow: hidden;

    .partner_photo {
      position: relative;
    }
    .figcaption {
      margin-top: 8%;
    }
    .partner_description {
      margin-top: 7%;
    }
  }
  .partner__telegram {
    margin-right: 0;
  }
  .partners_button {
    margin: 4.1% auto;
    padding-right: 28px;
    padding-left: 28px;
  }
  h2{
    letter-spacing: 0.001em;
    margin-left: -1px;
  }
}
