.partners {
  max-width: 520px;
  text-align: center;
  margin: 13.3% auto 0;
  h2 {
    font-size: 22px;
    letter-spacing: 0.09px;
    margin-top: -0.7%;
    margin-left: -3px;
    margin-bottom: 6.4%;
  }
  .partner {
    text-align: center;
    display: inline-block;
    width: 246px;
    vertical-align: top;
    min-height: 228px;

    .partner_photo {
      &::after {
        bottom: -3px;
        right: -4px;
      }
    }
  }
  .partner__tv {
    margin-left: 0.5%;
  }
  .partner__flask {
    margin-left: -0.9%;
  }
  .partner__coffe {
    margin-left: 1.3%;
  }
  .partner__telegram {
    .figure {
      margin-left: 5%;
    }
    .partner_description {
      margin-left: 6px;
    }
  }
  .figcaption {
    margin-top: 17px;
    margin-left: -2px;
  }
  .partner_description {
    margin-top: 14px;
    width: 220px;
    margin-left: 11px;
    line-height: 17px;
    padding-bottom: 23%;
  }
  .partners_button {
    transform: translateY(-21px);
    padding-left: 27px;
    padding-right: 28px;
  }
}
