.header {
  padding-top: 3.3%;
  text-align: center;
  padding-bottom: 16.2%;
  max-height: 700px;
  .header_login {
    float: right;
    margin-right: 1px;
    width: 50%;
    text-align: right;
  }
  .header_logo {
    float: left;
  }
  .header_banner {
    clear: both;
    h1 {
      font-size: 52px;
      padding-top: 15.5%;
      padding-left: 18%;
      width: 64%;
      line-height: 63px;
    }
    .banner_description {
      font-size: 24px;
      padding-top: 3.1%;
      margin-left: -3px;
    }
    .header_button {
      padding-left: 22px;
      padding-right: 25px;
      margin-left: 1px;
      padding-top: 3px;
      margin-top: 4%;
      letter-spacing: -0.01em;
    }
  }
}
