.header {
  max-height: 540px;
  .header_login {
    padding-top: 9.5%;
    text-align: center;
    margin-right: 6.7%;
  }
  .header_logo {
    margin-top: 39.6%;
    text-align: center;
  }
  .header_banner {
    text-align: center;

    h1 {
      padding-top: 9.5%;
      font-size: 30px;
      line-height: 36px;
      letter-spacing: -0.004em;
      margin-left: 1px;
    }
    .banner_description {
      padding-top: 2.8%;
      margin-left: 14.9%;
      width: 70%;
      font-size: 18px;
      letter-spacing: 0.003em;
    }
    .header_button {
      margin-top: 5.5%;
      margin-bottom: 43.1%;
    }
  }
}
