@media screen and (min-width: 768px) and (max-width: 959px) {

  .content {
    box-sizing: border-box;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: auto;
  }

  /*HEADER*/
  .logo {
    background-image: url('../img/768px/logo.png');
    height: 39px;
    width: 155px;
  }

  .header {
    padding-bottom: 10.7%;
    padding-top: 9.6%;
  }

  .header__logo {
    display: table-row;
  }

  .header__nav {
    display: table-row;
    text-align: left;
  }

  .nav__list_header-block {
    padding-top: 5.29%;
  }

  /*PRODUCT*/
  .product {
    padding-bottom: 3%;
  }

  .product__information {
    padding-bottom: 1.4%;
    padding-left: 3.2%;
    padding-top: 13.5%;
    width: 39%;
  }

  .phone__img {
    top: -23px;
  }

  .information__header_product-block {
    font-size: 48px;
    letter-spacing: -.016em;
  }

  .information__tagline_product-block {
    font-size: 24px;
    height: 30px;
    letter-spacing: -.3px;
    overflow: hidden;
    padding-top: 1.5%;
  }

  .information__description_product-block {
    font-size: 16px;
    height: 101px;
    hyphens: auto;
    line-height: 24px;
    overflow: hidden;
  }

  .product__phone {
    margin-left: 15.7%;
  }

  .slider_slider-block {
    margin-right: 17%;
    margin-top: 5.1%;
    padding-bottom: 13.3%;
  }

  /*ARTICLE*/
  .article {
    margin-top: 10.4%;
  }

  .information__header_article-block {
    font-size: 24px;
    letter-spacing: -.22px;
    padding-left: 0;
  }

  .bad__content {
    width: 100%;
  }

  .article__information {
    width: 23.2%;
  }

  .information__header_article-block::before {
    left: -35.5%;
    top: 6%;
  }

  .information__description_article-block {
    height: 142px;
    padding-top: 2px;
  }

  .information__read-more-article-block {
    letter-spacing: -.2px;
    margin-bottom: 67px;
    padding-right: 6px;
    padding-top: 11px;
  }

  .information__divide {
    width: 4.2%;
  }

  .divide_ppc {
    width: 5.2%;
  }

  /*REVIEWS*/
  .information__header_rewiews-block {
    font-size: 24px;
  }

  .information__header_other_color {
    display: block;
  }

  .information_rewiews-block {
    margin-top: 98px;
    padding-bottom: 43px;
  }

  .information_rewiews-block::before {
    display: none;
  }

  .reviews {
    margin-left: 23px;
    width: 48.6%;
  }

  .information__description_rewiews-block {
    height: 144px;
    overflow: hidden;
    text-overflow: clip;
  }

  /*PARTNERS*/
  .partners-logo__img {
    padding-right: 1.8%;
  }

  .information__header_rewiews-block::before {
    top: 19px;
  }

  .slider_reviews-block {
    width: 89%;
  }

  .blogs_block {
    margin-left: 12px;
    width: 46%;
  }

  .information__description_blogs_block {
    height: 30px;
    overflow: hidden;
    text-overflow: clip;
  }

  /*INFO*/
  .information__header_info-block {
    font-size: 24px;
  }

  .information_info-block {
    padding-top: 101px;
    width: 30.4%;
  }

  .divide_info-block {
    width: 6%;
  }

  .divide_info-block_ppc {
    width: 5.5%;
  }

  .information__read-more_blogs-block {
    padding-right: 8px;
    padding-top: 15px;
  }

  /*FOOTER*/
  .nav_footer {
    margin-bottom: 134px;
  }

  .copywrite_footer {
    display: block;
    margin-right: 3px;
    margin-top: 103px;
  }
}

