.inner-wrapper {
  border: 1px solid darkgrey;
  width: 500px;
  margin: 250px auto;
  padding: 50px;
  background-color: #e8e8e8;
}


.tooltip {
  position:absolute;
  border:1px solid #333;
  background-color:#161616;
  border-radius:5px;
  padding:10px;
  color:#fff;
  font-size:12px Arial;
  max-width: 400px;
}

