.footer {
  margin-top: 2.6%;
  .footer_logo {
    float: left;
    margin-right: 0.4%;
  }
  .footer_menu {
    float: left;
    margin-left: 9.9%;
    h4 {
      padding-bottom: 17%;
    }
    ul {
      a {
        line-height: 24px;
      }
    }
  }
  .desined-by {
    float: right;
    p {
      margin-right: -32px;
      margin-top: 1px;
    }
    img {
      margin-top: 8px;
    }
  }
}
