.footer {
  text-align: center;

  .footer_logo {
    padding-top: 5.7%;
  }
  .footer_menu {
    padding-top: 4.5%;
    h4 {
    }
    .title-menu__aligned {
    }
    ul {
      padding-top: 1.5%;
      margin-bottom: 0.2%;
      li {
        display: inline-block;
        margin-right: 3.2%;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .desined-by {
    margin-top: 5.2%;
    .logo-developer-company {
      padding-top: 2.5%;
      margin-left: -2px;
    }
  }
}
