.footer {
  margin-top: 5%;
  .footer_logo {
    float: left;
    margin-left: 5.1%;
  }
  .footer_menu {
    float: left;
    margin-left: 11.1%;
    margin-right: 2.4%;
    h4 {
      padding-bottom: 16%;
      margin-left: -1%;
    }
    ul {
      margin-left: -1%;
      a {
        line-height: 24px;
      }
    }
  }
  .desined-by {
    float: right;
    margin-right: 5.2%;
    p {
      margin-right: -29%;
      margin-top: 1px;
    }
    .logo-developer-company {
      margin-top: 7%;
    }
  }
}
