.wrapper {
  background-color: #fff;
  width: 100%;
}

.content-wrapper {
  font-family: Arial;
  margin: 0 auto;
  width: 912px;
  /*background-color: hotpink;*/
}

header {
  height: 35px;
  margin-bottom: 9px;
  padding-top: 10px;
  position: relative;
}

/*PHONENUMBER*/

.phone {
  color: #5e696d;
  display: block;
  font-size: 18px;
  padding-left: 33px;
  position: absolute;
  top: 24px;

}

.phone::before {
  background-image: url('../img/phone-icon.png');
  content: '';
  height: 21px;
  left: 8px;
  position: absolute;
  top: -2px;
  width: 22px;
}

.phone p {
  display: inline-block;
  letter-spacing: .4px;
}

.second-number {
  padding-left: 2px;
}

/*REGISTRATION*/

.registration {
  background: #206988; /* Old browsers */
  background: -moz-linear-gradient(top, #206988 0%, #114165 59%, #0c3256 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #206988 0%, #114165 59%, #0c3256 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #206988 0%, #114165 59%, #0c3256 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: 1px solid #596d80;
  border-radius: 4px;
  border-top: 1px solid #a6c3cf;
  -moz-box-shadow: 4px 4px 5px 0 rgba(150, 150, 150, 1);
  -webkit-box-shadow: 4px 4px 5px 0 rgba(150, 150, 150, 1);
  box-shadow: 4px 4px 5px 0 rgba(150, 150, 150, 1);
  display: block;
  height: 25px;
  left: 315px;
  position: absolute;
  top: 17px;
}

.user-icon {
  display: inline-block;
  padding-left: 24px;
  padding-top: 3px;
}

.user-icon input {
  border: 1px solid #6c7e8c;
  height: 14px;
  line-height: 14px;
  width: 111px;
  /*border: inset 1px solid #ebeced;*/
}

::-webkit-input-placeholder {
  padding-left: 3px;
}

.login {
  margin-right: 2px;
}

.user-icon::before {
  background-image: url('../img/user-icon.png');
  content: '';
  height: 18px;
  left: 7px;
  position: absolute;
  top: 5px;
  width: 15px;
}

.reg {
  color: #fff;
  font-family: 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: 11px;
  text-decoration: none;
}

.enter {
  margin-left: 2px;
}

.regis::before {
  background-color: #d2d8dd;
  content: '';
  display: inline-block;
  height: 10px;
  left: -5px;
  position: absolute;
  top: 4px;
  width: 1px;
}

.regis {
  letter-spacing: -.22px;
  margin-left: 5px;
  position: relative;

}

.forget-pass {
  color: #bfbfbf;
  font-family: 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: 11px;
  letter-spacing: .5px;
  margin-left: 17px;
  margin-right: 11px;
  text-decoration: none;
}

.forget-pass::before {
  background-color: #7c8794;
  content: '';
  display: inline-block;
  height: 1px;
  position: absolute;
  top: 19px;
  width: 95px;
}

.forget-pass:hover::before {
  display: none;
}

.navi {
  border: 1px solid #c1c8cb;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px rgba(220, 224, 225, 1);
  display: block;
  height: 19px;
  position: absolute;
  right: 8px;
  text-align: center;
  top: 19px;
  width: 75px;
}

.header-img {
  margin-bottom: 3px;
  margin-left: 1px;
}

.navi-icon {
  position: absolute;
}

.home-ic {
  left: 8px;
}

.sitemap-ic {
  left: 28px;
}

.letter-ic {
  right: 12px;
}

/*NAV*/
.nav {
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 0%, #505860 12%, #2e3236 23%, #2e3236 35%, #2e3236 37%, #2e3236 37%, #131313 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 0%, #505860 12%, #2e3236 23%, #2e3236 35%, #2e3236 37%, #2e3236 37%, #131313 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 0%, #595959 0%, #505860 12%, #2e3236 23%, #2e3236 35%, #2e3236 37%, #2e3236 37%, #131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 1px solid #0a1030;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .75);
  display: block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0); /* IE6-9 */
  height: 32px;
  line-height: 32px;
  position: relative;
}

.navigation {
  margin-left: 123px;
  position: absolute;
  width: 520px;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  color: #b1bcc0;
  display: inline-block;
  font-family: 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  padding-left: 23px;
  padding-right: 18px;
  text-decoration: none;
  letter-spacing: -0.1px;
}

.navigation a:hover {
  background: #206988; /* Old browsers */
  background: -moz-linear-gradient(top, #206988 0%, #114165 59%, #0c3256 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #206988 0%, #114165 59%, #0c3256 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #206988 0%, #114165 59%, #0c3256 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: 1px solid #09233b;
  border-radius: 25px;
  border-top: 1px solid #25617b;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#206988', endColorstr='#0c3256', GradientType=0); /* IE6-9 */
  height: 24px;
}

.pay {
  margin-left: -12px;
}

.delivery {
  margin-left: -16px;
}

.article-product {
  margin-left: -16px;
}

.contact {
  margin-left: -21px;
}

.basket {
  color: #929b9f;
  float: right;
  font-family: Arial, sans-serif;
  font-size: 11px;
  letter-spacing: .4px;
  line-height: 30px;
  margin-right: 12px;
  position: relative;
}

.basket::before {
  background-image: url('../img/basket-icon.png');
  content: '';
  height: 17px;
  left: -28px;
  position: absolute;
  top: 7px;
  width: 21px;
}

.blue-text {
  color: #0d5a8f;
  font-size: 12px;
  padding-left: 3px;
  display: inline-block;
  height: 30px;
  vertical-align: middle;
}

.basket-product {
  display: inline-block;
}

.sum {
  display: inline-block;
  padding-left: 10px;
}

.basket-price {
  letter-spacing: .6px;
  padding-left: 6px;
}

/*FILTERS*/
.filters {
  display: flex;
  font-family: Arial, sans-serif;
  height: 135px;
  margin-bottom: 2px;
  margin-top: 11px;
}

.filters select {
  -webkit-appearance: button;
  border-bottom: 0;
  -webkit-border-radius: 2px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  height: 18px;
  padding-left: 3px;
}

.search {
  bottom: 10px;
  color: #154467;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  position: absolute;
  right: 20px;
  text-decoration: none;
}

.search::after {
  background-color: #a6b1bc;
  bottom: -2px;
  content: '';
  height: 2px;
  position: absolute;
  right: -1px;
  width: 52px;
}

.filters h2 {
  color: #154467;
  font-family: 'Arial Black', sans-serif;
  font-size: 12px;
  letter-spacing: .2px;
  margin-bottom: -9px;
  margin-left: -5px;
  padding-top: 1px;
  text-align: center;
}

.filters h3 {
  color: #154468;
  font-family: 'Arial Black', sans-serif;
  font-size: 10px;
  margin-left: -1px;
  padding-bottom: 4px;
}

.left-column {
  display: inline-block;
  margin-left: 21px;
  margin-top: 0;
}

.right-column {
  display: inline-block;
  margin-left: 29px;
  position: absolute;
  right: 14px;
  top: 2px;
}

.right-column h3 {
  margin-right: 6px;
  text-align: right;
}

.general {
  border: 2px solid #c4c4c4;
  border-radius: 19px;
  box-shadow: 2px 2px 6px 0 rgba(175, 177, 178, 1);
  height: 132px;
  position: relative;
}

.label-wrapper {
  display: inline-block;
  margin-left: -4px;
  margin-top: 8px;
  width: 75px;
}

.label-wrapper-inner {
  line-height: 7px;
  margin-top: -1px;
}

.label-car-model {
  margin-top: 6px;
}

.label-year {
  margin-top: 5px;
}

.label-equipment {
  margin-top: 9px;
}

.select-wrapper {
  display: inline-block;
  margin-left: -4px;
  margin-top: 1px;
}

.select-wrapper-inner {
  margin-bottom: 4px;
  position: relative;
}

.select-wrapper-inner select {
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, .75);
}

.auto select {
  width: 100px;
}

.select-wrapper-inner::after {
  background: url('../img/arrow.png') #fff center no-repeat;
  border: 1px solid #d0d0d0;
  content: '';
  height: 14px;
  position: absolute;
  right: -2px;
  top: 2px;
  width: 15px;
}

.select-year select {
  position: relative;
  width: 56px;
}

.select-year::after {
  background: url('../img/arrow.png') center center no-repeat rgb(255, 255, 255);
  border-color: rgb(208, 208, 208);
  border-image: initial;
  border-style: solid;
  border-width: 1px;
  content: '';
  height: 14px;
  position: absolute;
  right: 42px;
  top: 2px;
  width: 15px;
}

.auto {
  margin-left: 4px;
  margin-right: 14px;
  width: 411px;
}

.filters label {
  color: #000;
  font-size: 10px;
  letter-spacing:0.3px;
}

.grey-text {
  color: #77858b;
  font-size: 9px;
}

.tire {
  margin-right: 8px;
  position: relative;
  width: 190px;
}

.tire h2 {
  margin-left: -99px;
  margin-top: 1px;
  position: relative;
}

.tire .label-wrapper {
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 10px;
  line-height: 20px;
  margin-left: -9px;
  margin-top: 29px;
  position: absolute;
  top: -4px;
}

.r-label {
  font-family: Arial, sans-serif;
  font-size: 11px;
  margin-left: 32px;
}

.tire .select-wrapper-inner {
  margin-bottom: 6px;
}

.tire .select-wrapper {
  left: 92px;
  position: absolute;
  top: 20px;
}

.tire-size {
  margin-left: -35px;
}

.tire-size-select {
  width: 51px;
}

.tire-r select {
  width: 46px;
}

.tire-r::after {
  background: url('../img/arrow.png') #fff center no-repeat;
  border: 1px solid #d0d0d0;
  content: '';
  height: 14px;
  position: absolute;
  right: 4px;
  top: 1px;
  width: 15px;
}

.tire-checkbox {
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 12px;
  margin-left: -3px;
  margin-top: -3px;
}

.tire-checkbox input {
  margin-right: 2px;
}

.tire-checkbox label {
  letter-spacing: 1px;
}

.tire-checkbox-inner {
  margin-bottom: -4px;
}

.left-side {
  float: left;
  width: 192px;
}

.tire-checkbox::after {
  border: 0;
  height: 0;
}

.tire .right-column {
  left: 7px;
  top: 0;
}

.tire-right-select {
  display: inline-block;
  width: 50px;
}

.tire h2::before {
  background-image: url('../img/slash.png');
  content: '';
  height: 10px;
  position: absolute;
  right: 72px;
  top: 25px;
  width: 5px;
}

.wheels {
  position: relative;
  width: 267px;
}

.wheels h2 {
  letter-spacing: 1px;
  margin-left: -147px;
  margin-top: 1px;
  position: relative;
}

.wheels .left-column {
  letter-spacing: 1px;
  padding-top: 19px;
  position: relative;
}

.wheels .left-column .label-wrapper {
  left: -1px;
  position: absolute;
  top: 10px;
  width: 87px;
}

.wheels .select-wrapper {
  left: 88px;
  position: absolute;
  top: 12px;
}

.wheels h2::after {
  background-color: #bdc6ca;
  content: '';
  height: 106px;
  position: absolute;
  right: 91px;
  width: 1px;
}

.wheels .left-column .grey-text {
  font-size: 9px;
  line-height: 7px;
}

.wheels .select-wrapper-inner select {
  width: 56px;
}

.wheels-disc {
  padding-bottom: 7px;
}

.wheels-location {
  padding-top: 4px;
}

.mounting-holes {
  width: 49px;
}

.wheels .mounting-holes select {
  width: 51px;
}

.wheels .right-column .g-correction11::after {
  background: url('../img/arrow.png') #fff center no-repeat;
  border: 1px solid #d0d0d0;
  content: '';
  height: 14px;
  position: absolute;
  right: -3px;
  top: 39px;
  width: 15px;
}

.wheels .right-column .g-correction8::after {
  background: url('../img/arrow.png') #fff center no-repeat;
  border: 1px solid #d0d0d0;
  content: '';
  height: 14px;
  position: absolute;
  right: -2px;
  top: 23px;
  width: 15px;
}

.wheels .left-column .select-wrapper-inner {
  margin-bottom: 14px;
}

.wheels .right-column {
  width: 60px;
}

.wheels .right-column .grey-text {
  font-size: 8px;
}

.wheels .right-column {
  margin-right: 91px;
  margin-top: -11px;
}

.g-correction8 {
  margin-top: 7px;
}

.g-correction9 {
  margin-top: 5px;
}

/*ASIDE*/
aside {
  clear: both;
  font-family: 'Lucida Sans Unicode', Arial, sans-serif;

}

.name-list {
  border: 1px solid #79878d;
  border-radius: 13px;
  -moz-box-shadow: 0 3px 4px 0 rgba(150, 150, 150, 1);
  -webkit-box-shadow: 0 3px 4px 0 rgba(150, 150, 150, 1);
  box-shadow: 0 3px 4px 0 rgba(150, 150, 150, 1);
  color: #114165;
  font-size: 13px;
  height: 25px;
  line-height: 28px;
  margin-top: 17px;
  padding-left: 27px;
  position: relative;
  width: 154px;
}

.name-list::before {
  background-image: url('../img/list-icon.png');
  content: '';
  height: 21px;
  left: 2px;
  top:1px;
  position: absolute;
  width: 22px;
}

.category-name {
  border: 1px solid #79878d;
  border-radius: 13px;
  color: #114165;
  font-size: 14px;
  height: 26px;
  line-height: 30px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-top: 13px;
  padding-left: 28px;
  position: relative;
  width: 120px;
}

.category-name::before {
  background-image: url('../img/circle-icon.png');
  content: '';
  height: 23px;
  left: 3px;
  position: absolute;
  width: 23px;
}

.aside-block {
  margin-bottom: -15px;
}

.g-correction1 {
  margin-top: -1px;
}

.g-correction10 {
  letter-spacing: -.4px;
}

.category-sub {
  color: #465961;
  font-size: 13px;
  letter-spacing: -.1px;
  line-height: 25px;
  margin-left: 47px;
  position: relative;
}

.category-sub::before {
  background-image: url('../img/marker-list.png');
  content: '';
  height: 8px;
  left: -10px;
  position: absolute;
  top: 5px;
  width: 8px;
}

.category-sub.active {
  color: #0c3256;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.1px;
}
.category-sub.active::before{
  top: 2px;
}

.category-sub:focus::before {
  background-image: url('../img/marker-active.png');
}

.right-side {
  float: right;
  width: 192px;
}

.g-correction2 {
  margin-top: -2px;
}

.right-side .name-list {
  letter-spacing: .5px;
  line-height: 26px;
  margin-left: 7px;
  margin-top: 15px;
  padding-left: 30px;
  width: 150px;
}

.right-side .name-list::before {
  left: 2px;
  top: 1px;
}

.right-side .category-name {
  line-height: 28px;
  margin-left: 21px;
  margin-top: 14px;
  padding-left: 30px;
  width: 105px;
}

.category-name::before {
  left: 2px;
  top: 1px;
}

.brand {
  margin-left: 29px;
}

.brand input {
  background-image: url('../img/checkbox.png');
  height: 11px;
  width: 11px;
}

.brand label {
  color: #465961;
  font-size: 13px;
  line-height: 26px;
  padding-left: 4px;
  position: relative;
}

.right-side .aside-block {
  margin-bottom: -5px;
}

.brand-2 {
  margin-top: 3px;
}

.g-correction3 {
  margin-top: -2px;
}

button {
  background: #206988; /* Old browsers */
  background: -moz-linear-gradient(top, #206988 0%, #114165 59%, #0c3256 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #206988 0%, #114165 59%, #0c3256 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #206988 0%, #114165 59%, #0c3256 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 1px solid #a7abae;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(167, 171, 174, 1);
  color: #e5e9ea;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#206988', endColorstr='#0c3256', GradientType=0); /* IE6-9 */
  font-family: Arial, sans-serif;
  font-size: 11px;
  height: 26px;
  letter-spacing: .5px;
  line-height: 19px;
  margin-left: 31px;
  margin-top: 19px;
  opacity: .75;
  width: 80px;
}

button:focus {
  outline: none;
  opacity: 1;
}

/*CONTENT*/

main {
  background: #c9cfd1; /* Old browsers */
  background: -moz-linear-gradient(top, #c9cfd1 0%, #234b5d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #c9cfd1 0%, #234b5d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c9cfd1 0%, #234b5d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9cfd1', endColorstr='#234b5d', GradientType=0); /* IE6-9 */
  margin: 0 auto;
  width: 526px;
}

.content {
  border-bottom: 1px solid #a1b3bb;
  border-left: 1px solid #e6eaec;
  border-top: 1px solid #f3f4f4;
  margin-top: 15px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-top: 15px;
}

.mark {
  color: #206988;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 15px;
  margin-bottom: -1px;
  margin-left: -4px;
}
.nokian{
  margin-left:-1px;
  letter-spacing: 0.1px;
}

figcaption {
  color: #1f2528;
  font-size: 13px;
  margin-left: 4px;
  padding-bottom: 2px;
  text-align: center;
}

figure {
  display: inline-block;
  margin-right: 26px;
  text-align: center;
  width: 138px;
}

.product-img {
  background-color: #fff;
  border: 1px solid #a7b1b4;
  border-radius: 9px;
  height: 121px;
  padding-top: 4px;
}

.product-description {
  letter-spacing: .4px;
}

.g-correction4 {
  margin-left: -11px;
}

.price {
  color: #114165;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 21px;
  padding-left: 6px;
  padding-top: 5px;
}
.nokian-price{
  padding-top:6px;
  padding-left: 7px;
  letter-spacing: 0.2px;
}
.hankook-price{
  letter-spacing: 0.2px;
}
.uah {
  font-size: 12px;
  margin-left: 2px;
}
.last-product-line{
  margin-top:2px;
}

/*LOGO PARTNERS*/
.logo-partner {
  background-image: url('../img/partner-logo.png');
  display: block;
  height: 27px;
  margin: 38px auto 0;
  width: 676px;
}

/*.logo-partner{*/
/*margin-top: 35px;*/
/*text-align: center;*/
/*height: 29px;*/
/*}*/
/*.logo-partner a {*/
/*display: inline-block;*/
/*padding-left: 10px;*/
/*vertical-align: middle;*/
/*}*/

/*FOOTER*/
footer {
  background-color: #213a4d;
  border-top: 1px solid #242c3e;
  font-family: Arial, sans-serif;
  font-size: 12px;
  height: 99px;
  margin-top: 25px;
}

footer p {
  color: #7f4740;
  font-size: 10px;
  letter-spacing: .4px;
  margin-top: 16px;
  text-align: center;
}

.footer-menu {
  margin-top: 12px;
  text-align: center;
}

.footer-menu a {
  color: #bec6c9;
  font-size: 12px;
  letter-spacing: .2px;
  padding-left: 6px;
  padding-right: 12px;
  position: relative;
  text-decoration: none;
}

.footer-menu-item::after {
  background-color: #6a7882;
  content: '';
  height: 11px;
  position: absolute;
  right: -2px;
  top: 2px;
  width: 2px;
}

.footer-menu-item:last-child::after {
  background: transparent;
}

.footer-menu a:hover {
  color: #52abcb;
}

.g-correction5 {
  margin-left: 5px;
}

/*.g-correction6{*/
/*margin-left: 1px;*/
/*}*/
.g-correction6::after {
  right: -5px;
}

.g-correction7 {
  margin-left: 2px;
}

.dm-left3::before {
  left: 3px;
}

.dm-left4::before {
  left: 4px;
}
