@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import "reset";
@import "variables";
@import "mobile";
@import "tablet";
@import "desktop";

.content {
  width: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: $color-white;
}

.button {
  font-size: 14px;
  height: 40px;
  background-color: #ff4e50;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: none;
  @include border-radius(20px);
  color: $color-white;
}
h2{
  color: #333;
}

header {
  background-image: url('../img/header-bg.jpg');
  @include background-size(cover);
  background-position: center;
  .header_login {
    a {
      color: $color-white;
      font-size: 14px;
      text-decoration: none;
      border: 2px solid transparent;
      padding: 7px 16px;
      &:first-child {
        margin-right: -1%;
      }
      &:hover {
        border: 2px solid $color-white;
        @include border-radius(22px);
      }
    }
  }
  .header_logo {
    .logo {
      color: $color-white;
      font-size: 20px;
      text-decoration: none;
      letter-spacing: 1px;
    }
  }
  .header_banner {
    h1 {
      text-align: center;
      text-transform: uppercase;
    }
    .banner_description {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: center;
      line-height: 20px;
      display: block;
    }
    .header_button {
      color: $color-white;
    }
  }
}

.work-principles {
  .principle {
    @include border-radius(3px);
    .principle_step {
      font-weight: 400;
      line-height: 19px;
      padding-top: 1px;
      display: inline-block;
      text-align: center;
      letter-spacing: 2px;
      padding-left: 15px;
      padding-right: 12px;
      @include border-radius(20px);
      background-color: $bgc-step;
      text-transform: uppercase;
      font-size: 10px;
    }
    h3 {
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.1px;
    }
    .principle_description {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #ccc;
      font-size: 14px;
    }
  }
  .principle__one {
    background: url('../img/principle-first.jpg') no-repeat;
  }
  .principle__two {
    background: url('../img/principle-two.jpg') no-repeat;
  }
  .principle__three {
    background: url('../img/principle-three.jpg') no-repeat;
  }
}

.partners {

  .partner {
    figure {
      .partner_photo {
        position: relative;

        &::after {
          position: absolute;
          content: '';
          width: 41px;
          height: 41px;
        }
      }
      figcaption {
        color: #333;
        font-size: 14px;
        letter-spacing: -0.2px;
        word-spacing: 1px;
      }
      .partner_description {
        font-family: Roboto, sans-serif;
        font-weight: 300;
        color: #666;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.15px;
      }
    }
  }
  .partner__tv {
    .partner_photo {
      &::after {
        background-image: url('../img/partner-icon-tv.png');
      }
    }
  }
  .partner__flask {
    .partner_photo {
      &::after {
        background-image: url('../img/partner-icon-flask.png');
      }
    }
  }
  .partner__coffe {
    .partner_photo {
      &::after {
        background-image: url('../img/partner-icon-coffe.png');
      }
    }
  }
  .partner__telegram {
    .partner_photo {
      &::after {
        background-image: url('../img/partner-icon-telegram.png');
      }
    }
  }
  .partners_button {
    line-height: 33px;
    background-color: #fff;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ff4e50;
    border: 2px solid #ff4e50;
  }
}

.activity-ideas {
  .grid {
    .grid-item {
      @include border-radius(5px);
      p {
        font-size: 22px;
      }
    }
  }
}

.search-partners {
  border-bottom: 4px solid #ff4e50;
  p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #333;
  }
  form {
    input {
      font-family: Roboto, sans-serif;
      font-size: 14px;
      border: 1px solid #ccc;
      height: 36px;
      box-shadow: 0 0 1px #eee;
      @include border-radius(5px);
    }
    input::-webkit-input-placeholder {
      padding-left: 14px;
    }
  }
}

footer {
  font-family: Montserrat, sans-serif;
  font-weight: bold;

  .footer_logo {

    .logo {
      color: #ff4e50;
      text-decoration: none;
      letter-spacing: 0.73px;
      font-size: 16px;
    }
  }
  .footer_menu {
    h4 {
      letter-spacing: -0.2px;
      color: #333;
      font-size: 14px;
    }
    ul {
      li {
        a {
          text-decoration: none;
          color: #666;
          font-family: Roboto, sans-serif;
          font-size: 14px;
        }
      }
    }
  }
  .desined-by {
    p {
      font-size: 10px;
      color: #ccc;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
    }
  }
}


