@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin background-size($size) {
  -webkit-background-size: $size ;
  background-size: $size;
}

$bgc-step: #ff4e50;
$color-white: #fff;
