
table{
    border-collapse: collapse;
    width: 500px;
    /*margin: 0 auto;*/

}
td {
    width: 60px;
    border: 10px solid #000;
}
tr {
    height: 65px;
}
td:first-child {
    border-left: 1px solid #fff;
}
td:last-child {
    border-right: 1px solid #fff;
}
tr:first-child td {
    border-top: 1px solid #fff;
}
tr:last-child td {
    border-bottom: 1px solid #fff;
}
.noborder{
    border-bottom: 1px solid #fff;
}

.yellow{
    background-image: url("../img/yellow.png");
}
.red{
    background-image: url('../img/red.png');
}
.blue{
    background-image: url("../img/blue.png");
}
.black{
    background-image: url("../img/black.png");
}


