//@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet"');

* {
  margin: 0;
  padding: 0;
}

.content {
  width: 1162px;
  margin: 0 auto;
  background-color: sandybrown;
}

header {
  margin-left: 4px;

  .header_logo {
    padding-top: 35px;
    float: left;
    margin-bottom: 33px;
  }
  .header_social-network {
    padding-top: 47px;
    float: right;
    margin-right: 2px;

    a {
      padding-left: 15px;
    }
  }
}

nav {
  clear: both;
  height: 56px;
  background-color: #2a2d32;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 14px;
  text-transform: uppercase;

  .nav_menu {
    float: left;
    font-size: 0;

    .menu_item {
      display: inline-block;
      height: 36px;
      border-left: 1px solid #181a1d;
      padding-top: 20px;
      font-size: 14px;
    }
    .menu_item__last-element {
      border-right: 1px solid #181a1d;
    }

    .nav_link {
      text-decoration: none;
      color: #fff;
      padding-left: 37px;
      padding-right: 41px;
    }

    &:hover {
      color: #f4b60d;
    }

    .active {
      background-color: #248cec;
    }
  }
  .nav_search {
    float: right;

    .search_field {
      width: 239px;
      height: 38px;
      border: 1px solid #181a1d;
      background-color: #35383c;
      margin-top: 8px;
      margin-right: 10px;
    }
  }
}

.slider {
  margin-top: 39px;
  position: relative;

  .slider_switch {
    position: absolute;
    content: '';
    height: 49px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;

    .switch_button {
      margin-top: 13px;
      display: inline-block;
      height: 15px;
      width: 15px;
      background-color: #fff;
      margin-right: 7px;
      position: relative;

      &:hover:after {
        content: '';
        width: 9px;
        height: 9px;
        background-color: #001d1d;
        position: absolute;
        top: 3px;
        left: 3px;
      }
    }
  }

}

.company-advantage {
  padding-top: 70px;

  .company-advantage_advantage__first {
    background: url('../img/advantage-namber1.png') no-repeat 1px 0;
  }
  .company-advantage_advantage__second {
    background: url('../img/advantage-number2.png') no-repeat;
  }
  .company-advantage_advantage__third {
    background: url('../img/advantage-number3.png') no-repeat;
  }
  .company-advantage_advantage {
    display: inline-block;

    &:last-child {

      .advantage_content {
        margin-right: 0;
      }
    }

    .advantage_content {
      width: 240px;
      margin-left: 123px;
      margin-right: 32px;

      h2 {
        font-family: 'Ubuntu', sans-serif;
        color: #2a2b2e;
        font-size: 20px;
        padding-top: 8px;
      }
      p {
        font-family: Arial, sans-serif;
        font-size: 13px;
        color: #8a8a8a;
        margin-top: 18px;
        line-height: 20px;
        margin-left: -3px;
        height: 60px;
        overflow: hidden;
        margin-bottom: 15px;
      }
      a {
        position: relative;
        font-family: 'Ubuntu', sans-serif;
        font-size: 13px;
        color: #2a2b2e;
        text-decoration: none;
        margin-left: -3px;

        &:hover:after {
          background-image: url('../img/advantage-arrow_hover.png');
        }

        &::after {
          content: '';
          background-image: url('../img/advanrage-arrow.png');
          position: absolute;
          width: 10px;
          height: 9px;
          right: -19px;
          top: 4px;

        }
      }
    }

  }

}
